.App {
  text-align: center;
  color: #fff;
}

.header{
  text-align: left;
  padding :10px;
  background-color: #595959;
}

.header span{
  font-style: italic;
}

body{
  background-color: #010A26;
}

#name-tag{
  color: #F2490C;
}

#role-tag{
  color: #F2490C;
}